@font-face {
    font-family: 'Mekon-Gradient';
    src: url('fonts/Mekon-Gradient.ttf');
}
@font-face {
    font-family: 'Postface';
    src: url('fonts/Postface.otf')
}
@font-face {
    font-family: 'MonospaceTypewriter';
    src: url('fonts/MonospaceTypewriter.ttf');
}
@font-face {
    font-family: 'ArialNarrow7';
    src: url('fonts/arial_narrow_7.ttf');
}

.main-body {
    background-image: url("codebackground.png");
    background-size: 50%;
    justify-content: center;
    text-align: center;
}

.title-box {
    max-width: 100%;
    text-align: center;
    justify-items: center;
}

.title-image {
    width: 50%;
    margin-top: 16px;
}
.title-menu {
    width: 100%;
    margin-top: -4px; 
}

.title-text {
    color: #00ff00;
    font-family: "MonospaceTypewriter";

}

.body-text {
    font-size: larger;
    color: #fff;
    font-family: "ArialNarrow7";  
}

*::moz-selection {
    background: #008800;
}
*::selection {
    background: #008800;
}

.header-image {
    width: 25%;
    position:relative;
    text-align: center;
}

.main-image {
    box-shadow: 5px 5px 0px 0px black;
    border: inset white;
}

.main-image:hover {
    box-shadow: 5px 5px 0px 0px black;
    border: inset #008800;
}