@font-face {
    font-family: 'Mekon-Gradient';
    src: url('fonts/Mekon-Gradient.ttf');
}
@font-face {
    font-family: 'Postface';
    src: url('fonts/Postface.otf')
}
@font-face {
    font-family: 'MonospaceTypewriter';
    src: url('fonts/MonospaceTypewriter.ttf');
}

.main-body {
    background-image: url("codebackground.png");
    background-size: 50%;
    justify-content: center;
    text-align: center;
}

.title-box {
    max-width: 100%;
    text-align: center;
    justify-items: center;
}

.title-image {
    width: 50%;
    margin-top: 16px;
}
.title-menu {
    width: 100%;
    margin-top: -4px; 
}

.title-text {
    color: #00ff00;
    font-family: "MonospaceTypewriter";

}

.header-image {
    width: 25%;
    position:relative;
    text-align: center;
}