html {
    align-items: center;
    justify-content: center;
    display: flex;
    height:fit-content;
    background-color: #1b58c8;
    background-image: url("/img/1202.png");
}

body {
    border-left: 3px solid #c1f3ff;
    border-right: 3px solid #10429f;

    background-color: #81b3df;
    align-items: center;
    display:flex;
    flex-direction: column;
    width:50%;
    height:100%;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 10px #0a1fab;

}

.title {
    width: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.pretitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.titlebox {
    align-items: center;
    display:flex;
    flex-direction: column;
    margin-bottom: 40px;

}

.originallist {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:340px;
    background-color: #5585de;
    list-style: none;
    border-left: 3px solid #10429f;
    border-top: 3px solid #10429f;
    border-right: 3px solid #c1f3ff;
    border-bottom: 3px solid #c1f3ff;
    padding: 20px;
    margin-bottom: 20px;
    
}
.comictitle {
    text-align: center;
    padding: 2px;
    font-size: larger;
    font-weight: bold;
    background-color: #81b3df;
    border-left: 3px solid #c1f3ff;
    border-top: 3px solid #c1f3ff;
    border-right: 3px solid #10429f;
    border-bottom: 3px solid #10429f;
}
.comic {
    text-align: center;
    padding: 20px;
    width:294px;
    padding-top:10px;
    background-color: #81b3df;
    border-left: 3px solid #c1f3ff;
    border-top: none;
    border-right: 3px solid #10429f;
    border-bottom: none;
}
.comicnumber {
    width:330px;
    text-align: center;
    padding: 2px;
    padding-top:10px;
    background-color: #81b3df;
    border-left: 3px solid #c1f3ff;
    border-top: 3px solid #c1f3ff;
    border-right: 3px solid #10429f;
    border-bottom: none;
    margin-bottom: 0px;
    margin-top: 0px;
}
.comicdetail {
    width:330px;
    text-align: center;
    padding: 2px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #81b3df;
    border-left: 3px solid #c1f3ff;
    border-top: none;
    border-right: 3px solid #10429f;
    border-bottom: 3px solid #10429f;
    margin-bottom: 0px;
    margin-top: 0px;
}
.back {
    text-align: center;
    padding: 2px;

    background-color: #81b3df;
    border-left: 3px solid #c1f3ff;
    border-top: 3px solid #c1f3ff;
    border-right: 3px solid #10429f;
    border-bottom: 3px solid #10429f;
    margin-bottom:0px;
    width:130px;
}

.link {
    text-decoration: none;
    color:black;
}

.comicimage {
    width:290px;
    border-left: 3px solid #10429f;
    border-top: 3px solid #10429f;
    border-right: 3px solid #c1f3ff;
    border-bottom: 3px solid #c1f3ff;
}
.detailbox {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;

    list-style: none;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.detail {
    margin-bottom: 0px;
    margin-top: 0px;
}
.detailtitle {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
}
.detailinfo {
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}
.picturedetail {
    width:330px;
    text-align: center;
    padding: 2px;
    padding-top:0px;
    background-color: #81b3df;
    border-left: 3px solid #c1f3ff;
    border-top: none;
    border-right: 3px solid #10429f;
    border-bottom: none;
    margin-bottom: 0px;
    margin-top: -20px;
}